@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" href="~/images/logo.png" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/proyecto_ecommerce_deportivo_net.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

        body{
            margin: 0;
        }

        :root {
            --white: #FFFFFF;
            --black: #000000;
        }

        * {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: none;
            border: none;
            text-decoration: none;
            transition: all .2s linear;
        }

        html {
            font-size: 50.5%;
            scroll-behavior: smooth;
        }

        section {
            padding: 2rem 6%;
        }

/*--------------------------------------------- HEADER --------------------------------------------------*/

        .header { /*IMPORTANTE*/
            position: sticky;
            top: 0;
            left: 0;
            right: 0;
            z-index: 999;
            background: var(--white);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.3rem 5%; /*AJUSTAR LOS ESPACIOS VACIOS EN EL HEADER*/
        }

        .header .logo { /*TEXTO DEL LOGO "ATHLETIX"*/
            font-size: 30px;
            color: var(--black);
            font-weight: bolder;
        }

        .header .navbar a { /*PAGINAS EN EL NAVBAR "CATALOGO, PRODUCTOS Y CONTACTAME"*/
            font-size: 2.1rem;
            margin: 0 1rem;
            color: var(--black);
            display: inline-block; /* Para que la transición funcione correctamente */
            transition: transform 0.3s, text-decoration 0.3s, border-bottom 0.3s, border-left 0.3s, border-right 0.3s, border-radius 0.3s; /* Duración de la transición de 0.3 segundos (ajusta según desees) */
            text-decoration: none; /* Elimina la línea debajo del texto por defecto */
            border-bottom: 1px solid transparent;
        }

        .header .navbar a:hover { /*IMPORTANTE*/
            cursor: pointer;
            transform: scale(1.2); /* Aumenta el tamaño al 120% al pasar el cursor por encima */
            text-decoration: underline; /* Agrega un subrayado al pasar el cursor por encima */
        }

        #menu-btn {/*IMPORTANTE PARA EL BOTON DE MENU EN CELULAR*/
            font-size: 2.5rem;
            padding: 0.7rem 0.92rem;
            color: var(--black);
            cursor: pointer;
            display: none;
            border-radius: 0.5rem;
        }

        #menu-btn:hover {
            background: var(--black);
            color: var(--white);
        }

        .header .iconosxd a:hover {
            background: var(--black);
            color: #fff;
        }

/*--------------------------------------------- FOOTER --------------------------------------------------*/

        .footer {
            background: var(--white);
            color: var(--black);
        }

        .footer .box-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
            gap: 1.5rem;
        }

        .footer .box-container .box h3 {
            color: var(--black);
            font-size: 2.5rem;
            padding: 1rem 0;
            font-weight: bold;
        }

        .footer .box-container .box a {
            color: var(--light-color);
            font-size: 1.5rem;
            display: block;
            padding: 1rem 0;
        }

        .footer .box-container .box a i {
            padding-right: .5rem;
            color: var(--black);
        }

        .footer .box-container .box a:hover i {
            padding-right: 2rem;
            /* este codigo hace que las palabras en el footer se muevan para la izquierda o derecha la cosa es que se mueve */
        }

        .footer .credit {
            text-align: center;
            border-top: var(--border);
            padding: 1rem;
            padding-top: 2.5rem;
            margin-top: 2rem;
            font-size: 2rem;
        }

        .box .footer-h3{
            font-size: 30px;
        }

        .box .footer-a{
            font-size: 8rem;
        }

/*------------------------------------------ MEDIA QUERIES -----------------------------------------------*/

        @@media (max-width:991px) {
            html {
                font-size: 55%;
            }

            .header.active {
                padding: 2rem;
            }

            section {
                padding: 2rem;
            }
        }

        @@media (max-width:768px) {
            #menu-btn {
                display: block;
            }

            #menu-btn.fa-times {
                transform: rotate(180deg);
            }

            .header .navbar {
                position: absolute;
                top: 99%;
                left: 0;
                right: 0;
                background: #fff;
                border-top: var(--border);
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            }

            .header .navbar.active {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);/*ACTIVA NAVBAR PARA LOS CELULARES*/
            }

            .header .navbar a {
                display: block;
                margin: 2rem;
                font-size: 2rem;
            }
        }

        @@media (max-width:450px) {
            html {
                font-size: 50%; /* ese codigo es hasta aca arriba */
            }
        }

        @@media (max-width: 600px) {
            .logo-text {
                display: none;
            }
        }

/*---------------------------------------------- MAIN ----------------------------------------------------*/

        .container-fluid {
            margin: 0;
            padding: 0;
        }

/*-----------------------------------------ICONOS DEL HEADER----------------------------------------------*/

        .iconos{
            display: flex;
            justify-content: center; /* Centrar horizontalmente */
            align-items: center; /* Centrar verticalmente */
        }

        .icono-user a{
            font-size: 15px;
            padding: 1.2rem;
            color: var(--black);
            border-radius: .7rem;
            margin: 0 1rem;
        }

        .icono-user a:hover{
            color: var(--white);
            background-color: var(--black);
        }

        .icono-login a{
            font-size: 2.2rem;
            padding: 1.2rem;
            color: var(--black);
            border-radius: .7rem;
            margin: 0 1rem;
        }

        .icono-login a:hover{
            color: var(--white);
            background-color: var(--black);
        }

        .icono-logout a{
            font-size: 2.2rem;
            padding: 1.2rem;
            color: var(--black);
            border-radius: .7rem;
            margin: 0 1rem;
        }

        .icono-logout a:hover{
            color: var(--white);
            background-color: var(--black);
        }
    </style>

</head>

<body>
<!-------------------------------------------- HEADER SECTION -------------------------------------------->
    <header class="header">
        <div id="menu-btn" class="fas fa-bars"></div>
        <a class="logo" style="text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/images/logo.png" alt="Logo" style="height: 40px; width: 40px; border-radius:50%;"
                    id="imgLogoEmpresa">
            <span class="logo-text">AthletiX</span>
        </a>
        <nav class="navbar">
            <a class="nav-link text-dark" asp-area="" asp-controller="NoCliente" asp-action="Catalogo">Catalogo</a>
            <!--<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AgregarProducto">Agregar
                Producto</a>-->
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ListaDeProductos">Lista De
                Productos</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacto">Contactame</a>
        </nav>
        <div class="iconos">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="icono-user">
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index"
                        title="Manage">Hola @User.Identity?.Name!</a>
                </div>
                <div class="icono-logout">
                    <a class="fas fa-sign-out-alt" style="text-decoration: none;" asp-area="Identity"
                        asp-page="/Account/Logout"
                        asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"></a>
                </div>
            }
            else
            {
                <div class="icono-login">
                    <a class="fas fa-user-plus" style="text-decoration: none;" asp-area="Identity"
                        asp-page="/Account/Register"></a>
                </div>
                <div class="icono-logout">
                    <a class="fas fa-sign-in-alt" style="text-decoration: none;" asp-area="Identity"
                        asp-page="/Account/Login"></a>
                </div>
            }
        </div>
    </header>
<!--------------------------------------------- MAIN SECTION --------------------------------------------->
    <div class="container-fluid">
        <main role="main" class="p-0">
            @RenderBody()
        </main>
    </div>
<!-------------------------------------------- FOOTER SECTION -------------------------------------------->
    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>Enlaces Rápidos</h3>
                <a href="#"> <i class="fas fa-arrow-right"></i> Principal </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> Productos </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> Descripción </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> Misión y Visión </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> Contactanos </a>
            </div>

            <div class="box">
                <h3>Datos De Contacto</h3>
                <a> <i class="fas fa-phone"></i> +51 927572267 </a>
                <a> <i class="fas fa-envelope"></i> jesus_soria@gmail.com </a>
                <a> <i class="fas fa-map-marker-alt"></i> Av. Prol. Javier Prado Este 8680, Ate 15494 </a>
            </div>

            <div class="box">
                <h3>Redes</h3>
                <a href="https://www.facebook.com/profile.php?id=61552031275470"> <i class="fab fa-facebook-f"></i>
                    Facebook </a>
                <a href="https://api.whatsapp.com/send?phone=927572267" target="_blank"><i class="fab fa-whatsapp"></i>
                    WhatsApp</a>
                <br><br>
                <h3>Legal</h3>
                <a
                    href="https://usmppe-my.sharepoint.com/:b:/g/personal/kristell_flores_usmp_pe/EYbpg6ow49NOrrfsEipAhUMBLP58bki3_0xgGhMoMD2Gsg?e=IZjH3n">
                    <i class="fa fa-gavel"></i> Términos y Condiciones </a>
                <a
                    href="https://usmppe-my.sharepoint.com/:b:/g/personal/kristell_flores_usmp_pe/EawhNQa8nnFIvtA-mxdpmEABJECIjW4e5Y5DpHquDN5igQ?e=nUcCWC">
                    <i class="fa fa-lock"></i> Politicas de privacidad </a>
            </div>

            <div class="box">
                <h3 class="footer-h3">Desarrolladores</h3>
                <a class="footer-a"> <i class="fas fa-laptop-code"></i> Matias N Araujo Vera </a>
                <a class="footer-a"> <i class="fas fa-cogs"></i> Yasser M. Avalos Montero </a>
                <a class="footer-a"> <i class="fas fa-laptop"></i> Kristell Y. Flores Huamani </a>
                <a class="footer-a"> <i class="fas fa-user-cog"></i> Jesús A. Soria Llantoy </a>
            </div>
        </div>
        <div class="credit"> @@Copyright - Todos los derechos reservados - Grupo ROJO! </div>
    </section>
<!----------------------------------------- FOOTER SECTION ENDS ----------------------------------------->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script>
        let menu = document.querySelector('#menu-btn');
        let navbar = document.querySelector('.navbar');

        menu.onclick = () => {
            menu.classList.toggle('fa-times');
            navbar.classList.toggle('active');
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
