@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "AthletiX";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    /* codigo comun */
    @@importurl('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

    body {
        width: 100%;
        background-image: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaCwRLauu68w3_8qi6w6Dfn2HR9q8astLYtS3uTqlfD5QLjirxtQIKHbLTGIYDfJFnDwKGwq30_SyIjl5S8UJ-6LhGYCHg=w1908-h897");
        background-attachment: fixed;
        background-size: cover;
        color: #FFFFFF;
    }

    .bienvenida .codigo {
        color: #FFFFFF;
        font-size: 18px;
    }
    
    .bienvenida .gracias {
        color: #FFFFFF;
        font-size: 30px;
        text-decoration: underline;
    }

    .bienvenida .conoce {
        color: #FFFFFF;
        font-size: 25px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        text-align: center;
    }

    .libre {
        background-image: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaDJpcqtSlDqVKVL1mDO3Gh-NmPD63kJvMZ2BXFd3-2rRmtPY9DLDU1vF0i0fVSVmMWXEYnjMx9xOLKfheee_kCSInw=w1908-h897");
        color: #FFFFFF;
    }

    .libre p {
        color: #FFFFFF;
    }

    .descripcion {
        background-image: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaADUPNy6H5HTJcXqsLR1E9uJR-MD1-rjH4uF0E0J-3OoSIRDGNgNgc1SEmPdq2ABiUrFNN4F33XSH3cvV1SFu1cNZZgOw=w1908-h897");
        color: #FFFFFF;
    }

    .descripcion p {
        color: #FFFFFF;
    }

    .mision {
        background-image: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaAKeJOv14hYWiDqTFsEQ4WpWu3p6YQgWQ_2h9L7kWgWKejW4lo1jxb3MnAOp0jMH5xvZvBKi8qwrjBajSMyNC8-vxAJ4Q=w1908-h897");
        color: #FFFFFF;
    }

    .mision p {
        color: #FFFFFF;
    }

    .vision {
        background-image: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaDvhIxNjt1utT1Zg0Z0YSIliTaQhFvdw5JnHEM0bwLuqgGNzQ5t_Ap1dEv5BoKk6sHOzeonxHF7rBr7yu-LkXqn2F3z=w1908-h897");
        color: #FFFFFF;
    }

    .vision p {
        color: #FFFFFF;
    }

    .title {
        font-size: 60px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 20px;
    }

    .p {
        font-size: 18px;
        color: #000000;
        line-height: 2;
    }
</style>

@if (TempData["MessageLOGUEARSE"] != null)
{
    <div class="alert alert-danger">
        @TempData["MessageLOGUEARSE"]
    </div>
}

<body>
    <section class="content bienvenida">
        @if (SignInManager.IsSignedIn(User))
        {
            var userId = UserManager.GetUserId(User); // Obtén el ID del usuario autenticado
            var user = await UserManager.FindByIdAsync(userId); // Busca el usuario en la base de datos por ID

            // Si el usuario está autenticado, muestra un mensaje de bienvenida personalizado
            <h2 class="title"><span class="wellcome">¡Bienvenido, @user.Nombres @user.Apellidos!</span></h2>
            <p class="codigo">COD. DE USUARIO: @user.Dni</p>
            <!--<p>Obtenga información <a href="https://docs.microsoft.com/aspnet/core">sobre cómo crear aplicaciones web con
                            ASP.NET Core</a>.</p>-->
        }
        else
        {
            // Si el usuario no está autenticado, muestra un mensaje de bienvenida genérico
            <h2 class="title">
                <span class="wellcome">Bienvenido</span>
            </h2>
            <!--<p>Obtenga información <a href="https://docs.microsoft.com/aspnet/core">sobre cómo crear aplicaciones web con
                            ASP.NET Core</a>.</p>-->
        }
        <p class="gracias">¡GRACIAS POR FORMAR PARTE DE LA FAMILIA ATHLETIX!</p>
        <p class="conoce">CONOCE UN POCO MAS SOBRE NOSOTROS:</p>
    </section>

    <section class="content libre">
        <h2 class="title">LIBRE</h2>
        <p class="p">"Ser una empresa líder en Latinoamérica y el Caribe
            en la producción e innovación de alimentos de calidad, con una visión
            enfocada al cliente y generación de rentabilidad”
        </p>
    </section>

    <section class="content descripcion">
        <h2 class="title">Descripción de la empresa</h2>
        <p class="p">AthletiX es una empresa pionera en el campo de la nutrición deportiva. Nos
            especializamos en la venta de
            una amplia gama de productos, desde proteínas y aminoácidos hasta suplementos pre-entrenamiento y
            vitaminas. Nuestra plataforma de ecommerce facilita a los clientes el acceso a productos de alta
            calidad, garantizando una experiencia de compra cómoda y eficiente. En AthletiX, creemos en el poder de
            la nutrición adecuada para potenciar el rendimiento y apoyar un estilo de vida activo y saludable
        </p>
    </section>

    <section class="content mision">
        <article class="contain">
            <h2 class="title">Misión</h2>
            <p class="p">En AthletiX, nuestra misión es empoderar a atletas y entusiastas del fitness proporcionando
                suplementos
                nutricionales de la más alta calidad. Nos comprometemos a apoyar a cada individuo en su viaje hacia el
                bienestar y la excelencia física, ofreciendo productos que potencian el rendimiento, la recuperación y
                la salud general.
            </p>
        </article>
    </section>

    <section class="content vision">
        <h2 class="title">Visión</h2>
        <p class="p">AthletiX aspira a consolidarse como la marca de referencia en el mundo de la nutrición deportiva,
            siendo
            sinónimo de calidad, confianza e innovación. Buscamos inspirar y facilitar a cada persona el camino
            hacia sus objetivos de salud y condición física, contribuyendo al mejoramiento continuo de su calidad de
            vida.
        </p>
    </section>
</body>