@model proyecto_ecommerce_deportivo_net.Models.DTO.UsuarioEditDTO;

@{
    ViewData["Title"] = "Editar Usuario";
}
<style>
    .formulario {
        background-image: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaDhhxIVcyPMvKKg5RmyvQm7IsIxIXLtkVCTK5frutl_wgc84CThWYjm0uRls4pbvD903oo7FQ-glUPVdmjm5drUfjNm=w1908-h897");
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<head>
    <link rel="stylesheet" href="~/css/formularios.css" />
</head>

<div class="formulario">
    <form asp-controller="Cliente" asp-action="GuardarUsuarioEditado" method="post">
        <div id="title">
            <h1>@ViewData["Title"]</h1>
        </div>
        <h2>Cambia tu información de usuario.</h2>
        <hr id="line" />

        <input type="text" asp-for="Id" type="hidden" name="Id">

        <div class="inputBox">
            <div class="input">
                <span>Nombres</span>
                <input type="text" asp-for="Nombres">
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="input">
                <span>Apellidos</span>
                <input type="text" asp-for="Apellidos">
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
        </div>

        <div class="inputBox">
            <div class="input">
                <span>DNI</span>
                <input type="text" placeholder="Introduzca la cantidad" asp-for="Dni">
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
        </div>

        <input type="submit" value="Actualizar Usuario" class="btn">

        @if (TempData["MessageActualizandoUsuario"] != null)
        {
            <div class="alert alert-success" id="MensajesVerdeRojo">
                @TempData["MessageActualizandoUsuario"]
            </div>
        }
    </form>
</div>

<!---------------------------- editar producto form ---------------------------->