@model IEnumerable<Producto>

@{
    ViewData["Title"] = "AthletiX";
}
<link rel="stylesheet" href="~/css/catalogo.css" />
<div>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/c1.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/c2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/c3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<h1>Nuestros productos:</h1>
<div class="catalogo">
    @foreach (var producto in Model)
    {
        <div class="itemProducto">
            <div class="imagenProducto">
                <a asp-action="DetalleProducto" asp-controller="NoCliente">
                    <img src="@producto.Imagen" alt="">
                </a>
            </div>
            <div class="informacionProducto">
                <div class="infoRow">
                    <p class="productNombre"><a href="">@producto.Nombre</a></p>
                </div>
                <div class="infoRow">
                    <p class="productPrecio">S/.@producto.Precio</p>
                    <p class="productStock">Stock @producto.Stock</p>
                </div>
            </div>
        </div>
    }
</div>