@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "¡Gracias por confirmar su correo electrónico.!";
}

<head>
    <link rel="stylesheet" href="~/css/formularios.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<div class="formulario">
    <form method="post">
        <div id="title">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="imagen">
            <img src="https://firebasestorage.googleapis.com/v0/b/proyecto20112023-6e784.appspot.com/o/Prueba%2Fimg_logo_athletix.png?alt=media&token=45c1d3d0-eeac-4ec8-8572-11155dd8aff2">
        </div>
    </form>
</div>

<style>
    .imagen{
        margin: 2rem;
    }
    .imagen img{
        border-radius: 2rem;
        width: 60%;
        height: 60%;
    }
    #confirm-link{
        font-size: 18px;
    }
</style>
