@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

body {
    width: 100%;
    background-image: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaAKI1pKAhTC_2o1WcsSQQpXv2bc8QAXqilkM827lgQUZCx0Ct3lfg_bvjrDTqcVLOZVYatnrLirGWwkvmY8LeOcPfzkag=w1908-h897");
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}

:root {
    --my-blue: #0074E4;
    --light-my-blue: #6FA6FF;
    /* Aquí defines el tono más claro */
    --celeste: #40E0D0;
    --light-celeste: hsl(177, 72%, 70%);
    --amarillo: #f9d806;
    --light-amarillo: #ffee80;
    --rojo: #FF0000;
    --light-rojo: #FFAFAF;
    --verde: #369681;
    --light-verde: #00B050;
    --black: #130f40;
    --light-color: #666;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.bienvenida .codigo {
    color: #FFFFFF;
    font-size: 18px;
}

.bienvenida .gracias {
    color: #FFFFFF;
    font-size: 30px;
    text-decoration: underline;
}

.bienvenida .conoce {
    color: #FFFFFF;
    font-size: 25px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    text-align: center;
}

.libre {
    background-image: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaDC899UftdDhLywW-nEB-vpFJM9J2ZEX2RenY-jS_Oe0w_gGje0Eeg2Yh8mUTnw7748zwB22BwLorq1WBRF0xDJLmbcdQ=w1908-h897");
    color: #FFFFFF;
}

.libre p {
    color: #FFFFFF;
}

.descripcion {
    background-image: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaDS9JdXI9mLz5sBba5JIDVy2Wld9y1lzsfIsNSnzN1S-tChX-bMgIppFKkyvBHkiuT5O4bx9eWz_HBHSUGvvUIGIoRgPA=w1908-h897");
    color: #FFFFFF;
}

.descripcion p {
    color: #FFFFFF;
}

.mision {
    background-image: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaCxQDyDHCpQT_WBa_qn42NYBKd5S4E49uxahQPv9v7CN-EVFNLxIcMU6Zq7PEgz3tm-Dt-y9juTTo0WjL1i-i_TJMET5g=w1908-h897");
    color: #FFFFFF;
}

.mision p {
    color: #FFFFFF;
}

.vision {
    background-image: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaDrK6ecJgk8EeDKabMnW_7GdVmtDSZxHJEUqaX8gObN3y7pL-hwuJtgytOk0nMI1ujc1vgSUnpnq-8teNEX9E4WjG5p=w1908-h897");
    color: #FFFFFF;
}

.vision p {
    color: #FFFFFF;
}

.title {
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px;
}

.p {
    font-size: 18px;
    color: #000000;
    line-height: 2;
}

@media (max-width: 600px) {
    body {
        background-image: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaCLgf4OnS6P9k84s6XPbS4VdZ1jkSu5ESSmfqBeOnreMRn-dUanYB6CLdsVCO5vtZkXzcLfII4Gu7zMZEdTYZbgwQO9zg=w1908-h897");
    }

    .descripcion {
        background-image: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaCATbnRe1-DA7EtrHFALr6nDXNvQvhWXuFu1s9zEL_-QMfpyZM1WBDjyJ27CRiuhIauvi-ASOxOnFVhmxzBPXkT5HtS_w=w1908-h897");
    }

    .mision {
        background-image: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaDX6Xbu5ngNh38L1tbknmib4HroD7ya1r0eD8zmhhLuDnwC6ZFGGxcXwWduL8M0UzPqgv5cFFyeB1HwPUU2NC_Q3lSn6A=w1908-h897");
    }

    .vision {
        background-image: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaB1eexY41A1u0wxCMN3mb-5FvJZVSD3ml68YxA3BSxW0GniBvXiU9JbuM0nDPy_kE1Ak8Bs-QUTLrQ8l4kfaL-z5dpDBw=w1908-h897");
    }

    .title{
        font-size: 35px;
        padding: 0 20px;
    }

    .gracias .p{
        font-size: 10px;
    }
}


.alerta {
    background-color: #ffffff;
    text-align: center;
    width: fit-content;
    padding: 1rem 2rem;
    margin: 1rem auto auto;
    font-size: 2rem;
    border-radius: 2.5rem;
    color: #000000;
}

@media(max-width: 600px){
    .alerta {
        width: 80%;
        margin: 3rem auto auto;
    }
}