span #a{
    font-size: 1rem;
}

span #b{
    font-size: 1rem;
    color: brown;
}

.formulario {
    background-image: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaD6SID83f7xzClhn7rp3J_qzonbSMg_DAjksF2R6lrOjtPDWGMAflONJzi7z1XVLl_9l08TuO9F21H_MOfs4AfrDeJJ_w=w1908-h897");
    background-attachment: fixed;
    background-size: cover;
}

@media (max-width: 600px) {
    .formulario {
        display: block;
        background: #ffffff;
    }
}

.login_services{
    text-align: center;
    width: 25%;
    border-radius: .6rem;
    box-shadow: .1rem solid rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .2);
    background: #fff;
    padding: 3rem;
    padding-bottom: 1.5rem;
    margin: auto auto;
    overflow-y: auto;
    /* Agregar desplazamiento vertical cuando el contenido excede la altura */
}

.login_services form{
    padding: 0;
    margin: auto;
    width: 100%;
    border: none;
}

.login_services form .btn {
    display: block;
    width: 100%;
    margin: 0;
    background-color: var(--celeste);
    /* Cambia el color de fondo */
    color: var(--black);
    /* Cambia el color del texto */
    border: none;
    border-radius: .5rem;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.check_input{
    padding-right: 30px;
}

.form-label{
    font-size: 1.5rem;
    margin: auto;
}

@media (max-width: 600px) {
    .login_services #title h1 {
        font-size: 2rem;
    }

    .formulario h2{
        font-size: 2rem;
    }

    .login_services {
        display: contents;
        padding: 0 ;
        background: #ffffff;
        margin: 0;
    }

    .login_services form {
        width: 100%;
        box-shadow: none;
        border: none;
        display: block;
        margin: 3rem auto;
    }

    .login_services form .btn {
        font-size: 2rem;
        width: 55%;
        margin: auto;
    }
}